# SDE1
# SDE2
# SDD
# SPY1
# SPY2
LOCAL/cornell_sde1/CP002215.gbk
NCBI/Streptococcus_dysgalactiae_equisimilis_GGS_124_uid59103/NC_012891.gbk
LOCAL/cornell_sdd/sdd.gbk
NCBI/Streptococcus_pyogenes_MGAS315_uid57911/NC_004070.gbk
NCBI/Streptococcus_pyogenes_MGAS10750_uid58575/NC_008024.gbk
